$gutter = 20px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 14px
$font-size-extra = 36px
$font-size-large = 32px
$font-size-mid = 22px
$font-size-small = 18px
$font-size-tiny = 12px
$font-size-micro = 10px

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

$border-style = 1px solid $color-grey

#main-content
  min-height: calc(100vh - 64px)

.container
  max-width: 1380px

.not-mobile
  display: none !important

.border-bottom
  border-bottom: $border-style

.border
  height: 1px
  background-color: $color-grey

.inline-image
  margin-top: 3rem
  margin-bottom: 3rem

.share-icon
  width: 16px

.video-embed-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.row-reverse
  flex-direction: row-reverse

#logo-header
  width: 68px

#nav-arrow-back
  width: 10px
  margin: 0 0.5em

.home-mobile-item
  border-bottom: 1px solid $color-black

.swiper-slide
  .grid-row
    box-sizing: border-box

$slider-button-size = 30px

.slider-button-next,
.slider-button-prev
  width: $slider-button-size
  height: $slider-button-size
  position: absolute
  top: 50%
  margin-top: -($margin-tiny + ($slider-button-size / 2))
  z-index: 100
  cursor: pointer
  opacity: 0
  transition: opacity .5s linear
  img
    height: 100%
    width: auto

.show-navigation
  .slider-button-next,
  .slider-button-prev
    opacity: 1

.slider-button-next
  right: 30px

.slider-button-prev
  left: 30px

.slider-pagination
  display: flex
  margin-top: $margin-small
  flex-wrap: nowrap
  justify-content: center
  padding: 0 10%

.slider-pagination-bullet
  height: 5px
  background-color: $color-grey-medium
  position: relative
  flex: 0 1 15%
  max-width: 100%
  margin: 0 $margin-tiny
  cursor: pointer

.slider-pagination-bullet-active
  background-color: $color-blue-onda

.thumb-holder
  width: 100%
  height: 140px
  background-color: $color-grey-medium
  background-position: center
  background-size: cover

button, input, select
  appearance: none
  border: none
  background-color: transparent
  padding: 0
  font-family: $font-sans

button, select
  cursor: pointer

#mobile-language
  select
    color: $color-white
    border-radius: 0
  &:after
    content: '▾'
    margin-left: 3px

#featured-articles
  .border
    background-color: $color-black
  & > *:last-child
    .border
      display: none

.cover-holder
  width: 100%
  height: 75vw
  max-height: 540px
  background-color: $color-grey-medium
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.mockup-holder
  width: 100%
  height: 100%
  background-position: 0 0
  background-size: contain
  background-repeat: no-repeat

#content-holder
  width: 100%
  max-width: 620px
  blockquote
    padding-left: 1em
    border-left: 1px solid $color-black
    margin-bottom: 1em
  a, a:link, a:visited
    color: $color-brown
  ul, ol
    margin-left: -1.5em
    padding-left: 1.5em
    margin-bottom: 1em
  ul
    list-style-type: circle
  ol
    list-style-type: decimal
  h2
    font-size: $font-size-large
    font-weight: bold
    margin: 2rem 0 1rem

#space-details-holder
  flex-wrap: nowrap

#event-map-holder
  border-radius: 10px
  overflow: hidden
  max-width: 130px
  max-height: 130px
  display: block

#newsletter-form
  input, button
    appearance: none
    border: 1px solid $color-white
    border-radius: 8px
    color: white
    padding: 5px 10px
    width: 100%
    &::placeholder
      color: $color-white

.contact-icon
  margin-right: 2em
  width: 22px
  display: inline-block

.store-button
  display: inline-block
  img
    height: 36px
    width: auto

#event-name-mobile
  font-size: 28px

#space-details
  & > div
    margin-bottom: $margin-micro
  a, a:link, a:visited
    color: $color-brown

.details-icon-holder
  width: 20px

.details-location
  width: 9px

.details-hours
  width: 11px

.details-phone
  width: 13px

.details-link
  width: 11px

.details-email
  width: 14px

.details-instagram
  width: 12px

.accordion-toggle
  width: 9px
  margin-left: 9px
  &.open
    transform: rotate(-90deg)

label&:after
  content: "▼"
  font-size: .8em

#footer-language-select
  color: $color-white

#open-in-app-link
  border-radius: 12px
  padding: 6px 12px 8px
  color: $color-grey-medium-light !important

#open-in-app-logo
  height: 26px
