@media screen and (min-width: 1024px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px
  $font-size-extra = 36px
  $font-size-large = 32px
  $font-size-mid = 22px
  $font-size-small = 18px
  $font-size-tiny = 14px
  $font-size-micro = 12px

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  #main-content
    min-height: calc(100vh - 121px)

  .slider-button-next,
  .slider-button-prev
    margin-top: -($margin-tiny + ($slider-button-size / 2))

  .slider-pagination
    margin-top: $margin-small

  #content-holder
    h2
      font-size: $font-size-large

  .store-button
    img
      height: 38px
