@media screen and (min-width: 667px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px
  $font-size-extra = 36px
  $font-size-large = 32px
  $font-size-mid = 22px
  $font-size-small = 18px
  $font-size-tiny = 14px
  $font-size-micro = 12px

  grid-maker(96%, $gutter, m)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  .not-mobile
    display: block !important

  .only-mobile
    display: none !important

  #main-content
    min-height: calc(100vh - 101px)

  nav
    .active
      a
        padding-bottom: 3px
        border-bottom: 3px solid $color-blue-onda

  #highlights
    background-color: $color-yellow
    .font-grey
      color: $color-black

  .slider-button-next,
  .slider-button-prev
    margin-top: -($margin-tiny + ($slider-button-size / 2))

  .slider-pagination
    margin-top: $margin-small

  .cover-holder
    width: 100%
    height: 60vw

  #content-holder
    h2
      font-size: $font-size-large

  #event-content
    order: 1

  #event-details
    order: 2
    border-left: 1px solid $color-black

  #event-map-holder
    max-width: 150px
    max-height: 150px

  #space-details-holder
    flex-wrap: wrap

  #logo-header
    width: 125px

  #logo-footer
    width: 125px

  .store-button
    margin-right: 1em
    img
      height: 32px

  .details-location
    width: 10px

  .details-hours
    width: 12px

  .details-phone
    width: 14px

  .details-link
    width: 12px

  .details-email
    width: 14px

  .details-instagram
    width: 13px
