@font-face {
    font-family: 'Lunchtype';
    src: url('../fonts/169e8f07698e228f3896fb5ced261efa.woff2') format('woff2'),
        url('../fonts/169e8f07698e228f3896fb5ced261efa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lunchtype';
    src: url('../fonts/3fb1e7c2b3e51120e6b0cae5e1e9386f.woff2') format('woff2'),
        url('../fonts/3fb1e7c2b3e51120e6b0cae5e1e9386f.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lunchtype';
    src: url('../fonts/5390257b1bbda560ba5f427bbea281cc.woff2') format('woff2'),
        url('../fonts/5390257b1bbda560ba5f427bbea281cc.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
