@import '../../../node_modules/globie-styl-library/helpers'

// ******************************************************

// RESETS

@import '../../../node_modules/css-reset-and-normalize/stylus/reset-and-normalize'

// ******************************************************

// GRID

@import '../../../node_modules/globie-styl-library/grid'

// ******************************************************

// FONTS

@import 'fonts/fonts'

$font-sans = 'Lunchtype', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-serif = 'Georgia'

// ******************************************************

// TYPOGRAPHY

@import '../../../node_modules/globie-styl-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html, body
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

.font-heading
  font-family: 'Barlow', $font-sans
  text-transform: uppercase

.font-bullet
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

// ******************************************************

// VARIABLES

$color-black = rgb(25,25,25)
$color-white = rgb(255, 255, 255)
$color-blue-onda = rgb(15,25,123)
$color-blue-bright = rgb(5, 5, 253)
$color-brown = rgb(132,64,15)
$color-blue-light = rgb(212,225,244)
$color-yellow = rgb(252,220,0)
$color-grey = rgb(155,155,155)
$color-grey-dark = rgb(74, 74, 74)
$color-grey-medium = rgb(216,216,216)
$color-grey-light = rgb(248,248,248)
$color-grey-medium-light = rgb(236, 238, 240)

.font-grey
  color: $color-grey

.font-blue
  color: $color-blue-onda

.font-brown
  color: $color-brown

.font-white
  color: $color-white

.font-grey-dark
  color: $color-grey-dark

.font-grey-medium-light
  color: $color-grey-medium-light

.background-grey-medium-light
  background-color: $color-grey-medium-light

.background-blue-light
  background-color: $color-blue-light

.background-blue-bright
  background-color: $color-blue-bright

.background-blue-onda
  background-color: $color-blue-onda

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-white

img
  height: auto
  max-width: 100%

// ******************************************************

// LIBRARIES

@import '../../../node_modules/swiper/dist/css/swiper.min.css'

// ******************************************************

// MEDIA QUERIES

@import 'responsive/mobile'

@import 'responsive/tablet-portrait'

@import 'responsive/tablet-landscape'
